<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "app.css" %}">
  </head>
  <body>
    <div class="jumbotron">


    {% if user.is_authenticated %}
      <h4>Welcome {{ user.name }}!</h4>

    {% else %}
      <a href="{% url 'signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
    {% endif %}
  </div>
  </body>
</html>
